services:
  rag-chatbot:
    restart: always
    domainname: ask.defang.io
    x-defang-dns-role: arn:aws:iam::258338292852:role/dnsadmin-39a19c3
    build:
      context: ./app
      shm_size: "16gb"
    ports:
      - target: 5000
        published: 5000
        protocol: tcp
        mode: ingress
    environment:
      FLASK_APP: app.py
      SECRET_KEY: 
      OPENAI_API_KEY: ${OPENAI_API_KEY} # Set your OpenAI API key here or in the .env file
    command: uwsgi --http 0.0.0.0:5000 --wsgi-file app.py --callable app --processes 4 --threads 2
    deploy:
      resources:
        reservations:
          memory: 4G
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/"]
      interval: 30s
      timeout: 10s
      retries: 3
      #start_period: 40s
