Flask==2.0.1
Flask-WTF==1.2.2
Werkzeug==2.0.3
scikit-learn==1.7.1
segment-analytics-python==2.3.3
numpy==2.3.1
sentence-transformers==5.0.0
transformers==4.41.0
torch==2.7.1
huggingface_hub==0.33.4
openai==0.28.0
PyYAML==6.0.2
GitPython==3.1.44
redis==6.2.0
fakeredis==2.30.1
